# Packages
__pycache__

# Vscode setting
.vscode

# Virtual environment
venv

# Environment variables also used by heroku local command
.env

# DS file
.DS_Store

# SQLite database file
data-dev.sqlite
data.sqlite