{% extends 'base_diary.html' %}

{% block page_header %}{{ _('Edit Reading Diary') }}{% endblock %}

{% block page_content %}
<form action="" method="post" novalidate>
    <div>
        {{ form.hidden_tag()}}
        <div class="row">
            <div class="col-md-4">
                {{ wtf.form_field(form.date)}}
                {{ wtf.form_field(form.book_isbn) }}
            </div>
        </div>
        <div class="form-group">
            {{ wtf.form_field(form.get_info) }}
        </div>
        {{ wtf.form_field(form.book_title) }}
        {% if form.book_img_src.data %}
        <a href="{{ form.book_url.data }}", target="_blank">
            <img src={{ form.book_img_src.data }} alt="book_img" width="144" height="144" class="img-responsive">
        </a>
        <br>
        {% endif %}

        {% if form.book_subtitle.data %}
        {{ wtf.form_field(form.book_subtitle, readonly=true) }}
        {% endif %}

        {% if form.book_subtitle.data %}
        {{ wtf.form_field(form.book_author, readonly=true) }}
        {% endif %}

        {{ wtf.form_field(form.note, rows="9") }}
        {{ wtf.form_field(form.submit) }}
        {% if is_edit %}
        {% include '_delete_diary.html' %}            
        {% endif %}
    </div>    
</form>
{% endblock %}