{% extends 'base_diary.html' %}

{% block page_header %}{{ _('Edit Sleep Diary') }}{% endblock %}

{% block page_content %}
<form action="" method="post" novalidate>
    <div>
        {{ form.hidden_tag()}}
        <div class="row">
            <div class="col-md-3">{{ wtf.form_field(form.allday) }}</div>
        </div>
        <div class="row">
            <fieldset id="field_date">
                <div class="col-md-3">{{ wtf.form_field(form.date) }}</div>
            </fieldset>
            <fieldset id="filed_starttoend">
                <div class="col-md-3">{{ wtf.form_field(form.start) }}</div>
                <div class="col-md-3">{{ wtf.form_field(form.end) }}</div>
            </fieldset>
            <div class="col-md-3">{{ wtf.form_field(form.sleep_condition) }}</div>
        </div>
        {{ wtf.form_field(form.note, rows="3")}}
        {{ wtf.form_field(form.submit)}}
        {% if is_edit %}
        {% include '_delete_diary.html' %}            
        {% endif %}
    </div>    
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">

window.addEventListener('load', _changeAttr);
document.getElementById("allday").addEventListener("click", _changeAttr);

function _changeAttr(){
    if (document.getElementById("allday").checked == true){
            document.getElementById('date').readOnly = false;
            document.getElementById('start').readOnly = true;
            document.getElementById('end').readOnly = true;
            document.getElementById('field_date').classList.remove('hidden');
            document.getElementById('filed_starttoend').classList.add('hidden');
        }else{
            document.getElementById('date').readOnly = true;
            document.getElementById('start').readOnly = false;
            document.getElementById('end').readOnly = false;
            document.getElementById('field_date').classList.add('hidden');
            document.getElementById('filed_starttoend').classList.remove('hidden');
        }
}
</script>
{% endblock %}