{% extends 'base.html' %}

{% block head %}
{{ super() }}
<!-- BootStrap -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jumbotron.css') }}">
{% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>{{ _('Review your life with diary') }}</h1>
        <p>{{ _('Dekigoto is a cloud based diary service which automaticaly generates categorized summary charts as feedback for your future improvement. You can write in any devices via Google Chrome without any installing softwares.') }}</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>{{ _('Cloud based service') }}</h2>
            <p>{{ _('Dekigoto is a cloud based diary service. You can sign in with your SNS accounts so that you do not need to remember specific username and password. Only with SNS accounts, you can write whenever in any devices.') }}</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>{{ _('Categorized diaries') }}</h2>
            <p>{{ _('Diaries in Dekigoto consist of several categories. This categorized approach has the purpose that you can easily continue taking diaries as your habit.') }}</p>
            <ul>
                <li>{{ _('Free diary') }}</li>
                <li>{{ _('Sleep diary') }}</li>
                <li>{{ _('Drinking Diary') }}</li>
                <li>{{ _('Reading Diary') }}</li>
            </ul>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>{{ _('Visualization') }}</h2>
            <p>{{ _('Dekigoto automaticaly creates summary charts based on the categorized diaries which you provided. From these charts, you can see trends of your habits and may get feedback to improve your life.') }}</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
    
    <hr>
    
    <footer>
        <p>&copy; 2020 Shinya Moriyama</p>
    </footer>
</div> <!-- /container -->
{% endblock %}
