{% extends 'base.html' %}

{% block head %}
{{ super() }}
<!-- BootStrap -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jumbotron.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h3>{% block page_header %}{% endblock %}</h3>
    <!-- Plotly -->
    {% for id in ids %}
        <div id="{{id}}"></div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Plotly -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.plot.ly/plotly-locale-ja-latest.js"></script>
<script>Plotly.setPlotConfig({locale: '{{ g.locale }}'})</script>

<script type="text/javascript">

    var graphs = {{graphJSON | safe}};
    var ids = {{ids | safe}};

    for(var i in graphs) {
        Plotly.plot(ids[i], // the ID of the div, created above
                    graphs[i].data,
                    graphs[i].layout || {});
    }

</script>
{% endblock %}
