{% extends 'base.html' %}

{% block head %}
{{ super() }}
<!-- BootStrap -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jumbotron.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h3>{{ _('Review your life with diary') }}</h3>
    <p class="lead">{{ _('Dekigoto is a cloud based diary service which automaticaly generates categorized summary charts as feedback for your future improvement. You can write in any devices via Google Chrome without any installing softwares.') }}</p>

    <div class="page-header">
        <h3>{{ _('Usage') }}</h3>
    </div>
    <h3>{{ _('Create diaries') }}</h3>
    <p>{{ _('Diaries in Dekigoto consist of several categories. This categorized approach has the purpose that you can easily continue taking diaries as your habit.') }}</p>
    <ol>
        <li>{{ _('Choose the category of diary to create') }}</li>
        <p>{{ _('The following is the case of free diary') }}</p>
        <img src="{{ url_for('static', filename='images/' + g.locale + '/diary_category.png') }}" alt="diary_category.png"  width="360" height="270" class="img-responsive">            
        <li>{{ _('Edit diary and submit') }}</li>
        <img src="{{ url_for('static', filename='images/' + g.locale + '/diary_edit.png') }}" alt="diary_edit.png" width="360" height="270" class="img-responsive">
    </ol>
    <h3>{{ _('Visualize diaries') }}</h3>
    <p>{{ _('Dekigoto automaticaly creates summary charts based on the categorized diaries which you provided. From these charts, you can see trends of your habits and may get feedback to improve your life.') }}</p>
    <ol>
        <li>{{ _('Choose the category of diary to plot') }}</li>
        <p>{{ _('The following is the case of free diary') }}</p>
        <img src="{{ url_for('static', filename='images/' + g.locale + '/plot_category.png') }}" alt="plot_category.png" width="360" height="270" class="img-responsive">
        <li>{{ _('See the summary charts of your diaries') }}</li>
        <img src="{{ url_for('static', filename='images/' + g.locale + '/plot_charts.png') }}" alt="plot_charts.png" width="400" height="300" class="img-responsive">
    </ol>
    <h3>{{ _('Change views') }}</h3>
    <p>{{ _('Dekigoto has multiple views by categories. The dafault view includes all categories.') }}</p>
    <ol>
        <li>{{ _('Choose the category of diary to change') }}</li>
        <p>{{ _('The following is the case of free diary') }}</p>
        <img src="{{ url_for('static', filename='images/' + g.locale + '/view_category.png') }}" alt="view_category.png" width="360" height="270" class="img-responsive">
        <li>{{ _('See the changed view') }}</li>
        <img src="{{ url_for('static', filename='images/' + g.locale + '/view_view.png') }}" alt="view_view.png" width="440" height="330" class="img-responsive">
    </ol>
    <h3>{{ _('Recommended browser') }}</h3>
    <p>{{ _('The recommended browser is Google Chrome. If you hava trouble with using, change the browser to Google Chrome.') }}</p>
    <ol>
        <li>{{ _('For the example of Safari on mac, date fields seem not to be working fine because the format of these are somethng wrong and date pickers are lost') }}</li>
        <img src="{{ url_for('static', filename='images/' + g.locale + '/browser_safari.png') }}" alt="browser_safari.png" width="360" height="270" class="img-responsive">
        <li>{{ _('Change the browser to Chrome and it works well') }}</li>
        <img src="{{ url_for('static', filename='images/' + g.locale + '/browser_chrome.png') }}" alt="browser_chrome.png" width="360" height="270" class="img-responsive">
    </ol>

    <hr>

    <footer>
        <p>&copy; 2020 Shinya Moriyama</p>
        <p>{{ _('Contact information') }}: spt.dekigoto@gmail.com</p>
        <p><a href="{{ url_for('.terms_conditions') }}">{{ _('Terms and conditions') }}</a></p>
        <p><a href="{{ url_for('.privacy_policy') }}">{{ _('Privacy Policy') }}</a></p>
    </footer>

</div>
{% endblock %}

